<strong>Hello, {{ student }}</strong>
<p>Welcome to GymPoint!</p>
<p>Your registration is ready, check the enrollment datas bellow:</p>
<p>
  <strong>Name: </strong> {{ student }} <br />
  <strong>Plan: </strong> {{ plan }} <br />
  <strong>Total Price: </strong> {{ price }} <br />
  <strong>Start date: </strong> {{ start_date }} <br />
  <strong>End date: </strong> {{ end_date }}
</p>
<small>
  Any concerns about the enrollment, let us know!
</small>
